services:
    es_sandbox.projector.basket.mysql:
        class: EsSandbox\Basket\Infrastructure\Projection\MysqlBasketProjector
        arguments:
            - "@doctrine.orm.default_entity_manager"
        tags:
            - { name: event_subscriber, subscribes_to: EsSandbox\Basket\Model\BasketWasPickedUp, method: applyBasketWasPickedUp }
            - { name: event_subscriber, subscribes_to: EsSandbox\Basket\Model\ProductWasAddedToBasket, method: applyProductWasAddedToBasket }
            - { name: event_subscriber, subscribes_to: EsSandbox\Basket\Model\ProductWasRemovedFromBasket, method: applyProductWasRemovedFromBasket }

    es_sandbox.projection.basket.mysql:
        class: EsSandbox\Basket\Infrastructure\Projection\MysqlBasketProjection
        arguments:
            - "@doctrine.orm.default_entity_manager"

    es_sandbox.projection.basket.event_store:
        class: EsSandbox\Basket\Infrastructure\Projection\HttpEventStoreBasketProjection
        arguments:
            - "@lzakrzewski.http_projection"